<div class="content-section">
    <p>Crear un user profile component on es puguin setejar els intakes parameters</p>

    <p-calendar [(ngModel)]="fecha"></p-calendar>

    <p-tabView>
        <p-tabPanel header="Total Dia"> 
            <p-card class="ui-g-12 ui-lg-6 ui-md-8 ui-sm-12">
                <canvas #radarDayCanvas width="600px" height="500px"></canvas>
            </p-card>
         </p-tabPanel>
        <p-tabPanel header="Desayuno">
            <p-card class="ui-g-12 ui-lg-6 ui-md-8 ui-sm-12">
                <canvas #radarDesayunoCanvas width="600px" height="500px"></canvas>
            </p-card>
        </p-tabPanel>
        <p-tabPanel header="Comida">
            <p-card class="ui-g-12 ui-lg-6 ui-md-8 ui-sm-12">
                <canvas #radarComidaCanvas width="600px" height="500px"></canvas>
            </p-card>
        </p-tabPanel>
        <p-tabPanel header="Merienda">
            <p-card class="ui-g-12 ui-lg-6 ui-md-8 ui-sm-12">
                <canvas #radarMeriendaCanvas width="600px" height="500px"></canvas>
            </p-card>
        </p-tabPanel>
        <p-tabPanel header="Cena">
            <p-card class="ui-g-12 ui-lg-6 ui-md-8 ui-sm-12">
                <canvas #radarCenaCanvas width="600px" height="500px"></canvas>
            </p-card>
        </p-tabPanel>
    </p-tabView>

</div>
