<div class="content-section">
    <div class="ui-g-12">
    <h3>Selected day: {{fecha | date:'EEEE, MMMM d, y'}}</h3>
    <p-calendar [(ngModel)]="fecha"></p-calendar>
    </div>
    <div class="ui-g-12">
    <p-toggleButton [(ngModel)]="toogleDay"
                    (onChange)="handleChange($event, 'Total Nutrients Intake', dayChartValues)" 
                    onIcon="pi pi-eye"
                    offIcon="pi pi-eye-slash"
                    onLabel="Total del dia"
                    offLabel="Total del dia"></p-toggleButton>
    </div>
    <div class="ui-g-12">
    <p-toggleButton (onChange)="handleChange($event, 'desayuno', desayunoChartValues)" 
                    onIcon="pi pi-eye"
                    offIcon="pi pi-eye-slash"
                    onLabel="Desayuno"
                    offLabel="Desayuno"></p-toggleButton>
    <p-toggleButton (onChange)="handleChange($event, 'comida', comidaChartValues)" 
                    onIcon="pi pi-eye"
                    offIcon="pi pi-eye-slash"
                    onLabel="Comida"
                    offLabel="Comida"></p-toggleButton>
    <p-toggleButton (onChange)="handleChange($event, 'merienda', meriendaChartValues)" 
                    onIcon="pi pi-eye"
                    offIcon="pi pi-eye-slash"
                    onLabel="Merienda"
                    offLabel="Merienda"></p-toggleButton>
    <p-toggleButton (onChange)="handleChange($event, 'cena', cenaChartValues)" 
                    onIcon="pi pi-eye"
                    offIcon="pi pi-eye-slash"
                    onLabel="Cena"
                    offLabel="Cena"></p-toggleButton>
    </div>

    <p-card class="ui-g-12 ui-lg-6 ui-md-8 ui-sm-12">
        <canvas  #radarDayCanvas width="600px" height="750px"></canvas>
    </p-card>

</div>
