<div class="content-section">

    <div *ngIf="foodDetailed">
        <h2>{{foodDetailed.description}}</h2>
        <p *ngIf="foodDetailed.brandOwner">{{foodDetailed.brandOwner}}</p>
        <h3>Amount ({{foodDetailed.servingSizeUnit}}):</h3>
        <p-spinner [min]="0" [(ngModel)]="amount" pKeyFilter="int" (onChange)="updateValues()"></p-spinner>
        &nbsp; 
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button type="button" pButton icon="pi pi-plus" label="Add" (click)="menu.toggle($event)"></button>
    </div>

    
    <div class="ui-g-12 ui-lg-6 ui-md-8 ui-sm-12">
        <p-card>
            <canvas #radarCanvas width="600" height="500"></canvas>
        </p-card>
    </div>
    <div class="ui-g-12 ui-lg-1"></div>
    <div class="ui-g-12 ui-lg-4 ui-md-8 ui-sm-12">
        <p-table  *ngIf="labelList" [value]="labelList">
            <ng-template pTemplate="header">
                <tr>
                    <th>Name</th>
                    <th>Amount</th>
                    <th>Unit</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-nutrient>
                <tr>
                    <td>{{nutrient[1].name}}</td>
                    <td class="derecha">{{nutrient[1].value}}</td>
                    <td class="centrado">{{nutrient[1].units}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div *ngIf="foodDetailed">
        <div *ngIf="foodDetailed.ingredients">
            <h3>Ingredients:</h3>
            <p>{{foodDetailed.ingredients}}</p>
        </div>
    </div>
    
</div>

