<body>
    <div class="layout-topbar">
        <h2>Food Information</h2>
        <ul class="topbar-menu">
            <li>
                <a (click)="clearHist()" routerLink="/searchFood">Search Food</a>
            </li>
                <a (click)="clearHist()" routerLink="/user/profile"><i class="pi pi-user"></i></a>
                <a (click)="clearHist()" routerLink="/user/foods"><i class="pi pi-chart-bar"></i></a> 
        </ul>
    </div>

    <!--
    <p-menu #menu [popup]="true" [model]="items"></p-menu>
    <button type="button" pButton icon="pi pi-bars" label="Menu" (click)="menu.toggle($event)"></button>
    -->
    <div class="layout-content">
        <router-outlet></router-outlet>
    </div>
</body>